.navBarMain {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px magenta solid;
}
.navInActive {
    text-decoration: none;
    color: red;
}
.navActive {
    background-color: magenta;
    color: yellow;
    text-transform: uppercase;
    text-decoration: none;
}